body
  background lighten(#000, 65%)
  font-family Verdana, Helvetica, Arial, sans-serif

h1
  font-size 5em

p
  font-size 2em

.box
  background lighten(#000, 80%)
  max-width 500px
  margin 0 auto
  padding 15px
  color lighten(#000, 30%)
  font-size .7em
  box-sizing border-box
  border 3px solid lighten(#000, 30%)

  p
    margin 5px

footer
  max-width 700px
  margin 60px auto 0 auto
  color lighten(#000, 30%)
  text-align center

  a
    color lighten(#000, 40%)
