extends layouts/example

block content
  h1.title The Frontend environment template
  p.description feat. Jade and Stylus

  section.box
    p HA!!1
    p the loading is fake...
    p we are loading nothing here...
