extends layouts/example

block content
  h1.title The Frontend environment template

  p.description Features
  ul.box
    li <b>Gulp</b> for tasks
    li <b>Stylus</b> for CSS
    li <b>Babel</b> for next generation javascript
    li <b>Browserify</b> for modules
    li <b>Imagemin</b> for compressing images

  p.description Bundled with dev tools
  ul.box
    li Watch code changes
    li Livereload the browser

  p.description Image compression for
  ul.box
    li.float
      | jpg:
      img.feature-img(src='/images/example-jpg.jpg' alt='jpg')
    li.float
      | png:
      img.feature-img(src='/images/example-png.png' alt='png')
    li.float
      | gif:
      img.feature-img(src='/images/example-gif.gif' alt='gif')
    li.float
      | svg:
      img.feature-img(src='/images/example-svg.svg' alt='svg')
