doctype html
html(lang="en")
  head
    title The Frontend environment template
    link(href="stylesheets/app.css", rel="stylesheet", type="text/css", media="all")
    script(src="scripts/vendor.js", type="text/javascript")
    script(src="scripts/app.js", type="text/javascript")
  body
    block content
    footer
      p by 
        a(href="http://twitter.com/lucasfs7", target="_blank") @lucasfs7 
        | on 
        a(href="http://github.com/lucasfs7/gulp-dev-env", target="_blank") github
